<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="" />

        <title>DadHive</title>

        <!-- Styles -->
        <link href="assets/css/core.min.css" rel="stylesheet">
        <link href="assets/css/thesaas.min.css" rel="stylesheet">
        <link href="assets/css/style.css"   rel="stylesheet">

        <!-- Favicons -->
        <link rel="apple-touch-icon" href="assets/img/apple-touch-icon.png">
        <link rel="icon" href="assets/img/favicon.png">
    </head>

    <body >
      
        <!-- Topbar -->
        <nav class="topbar topbar-inverse topbar-expand-md topbar-sticky">
            <div class="container">
        
                <div class="topbar-left">
                    <!--<button class="topbar-toggler">&#9776;</button>-->
                    <a class="topbar-brand"   href="index.html">
                        <img class="logo-default" src="assets/img/logo.png" alt="logo">
                        <img class="logo-inverse" src="assets/img/logo-light.png" alt="logo">
                    </a>
                </div>
              
                <!--<div class="topbar-right">
                  <a class="btn btn-sm btn-white mr-4" href="page-login.html">Login</a>
                  <a class="btn btn-sm btn-outline btn- white hidden-sm-down" href="page-register.html">Register</a></div>-->
            </div>
        </nav>
        <!-- END Topbar -->
      
        
        <header class="header header-inverse h-fullscreen p-0 overflow-hidden" data-overlay="1">
            <video class="bg-video" poster="assets/img/video/dadhive-bg1.mp4" autoplay loop>
                <source src="assets/img/video/dadhive-bg1.mp4" type="video/mp4">
                <source src="assets/img/video/workspace.webm" type="video/webm">
            </video>

            <div class="container text-center">

                <div class="row h-full">
                    <div class="col-12 col-lg-8 offset-lg-2 align-self-center pt-150">
                        <img src="assets/img/header-dadhive-hive.png" height="200px">
                        <br><br>
                        <p class="lead">A platform for fathers, by fathers, to hold each other accountable for the next generation.</p>
                        <br>
                        <a class="btn btn-xl btn-primary btn-success" href="register">Pre-Register</a>
                        <br><br>
                        <p class="fs-12"><span class="opacity-60 mr-8">Or</span> <a class="text-white mark-border" href="#dadhive-subscribe">sign up for our newsletter.</a></p>

                    </div>

                </div>

            </div>
        </header>
        <!-- END Header -->




        <!-- Main container -->
        <section class="section section-inverse pb-0 overflow-hidden" style="background-image: url(assets/img/bg-father2.jpg); background-position:center; background-size:cover;" data-overlay="5" id="dadhive-subscribe">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12 col-md-12 pb-70">
                        <h2>Stay Updated</h2>
                        <p class="lead">Being a father is a beautiful thing. Despite your circumstance(s) you have a responsibility to not fold.<br>Join thousands of fathers, just like you, in holding each other accountable!</p>
                        <br>
                        <form class="form-inline form-glass" action="" method="post" target="_blank">
                            <div class="input-group">
                                <input type="text" name="EMAIL" class="form-control" placeholder="Enter Email Address">
                                <span class="input-group-btn">
                                    <button class="btn btn-outline btn-white" type="button">Sign up <i class="ti-arrow-right fs-9 ml-8"></i></button>
                                </span>
                            </div>
                        </form>
                    </div>
                    <div class="col-12 col-md-4">
                    </div>
                </div>
            </div>
        </section>
        <!-- END Main container -->

        <!-- Footer -->
        <footer class="site-footer">
            <div class="container">
                <div class="row gap-y align-items-center">
                    <div class="col-12 col-lg-3">
                        <p class="text-center text-lg-left">
                            <a href="index.html"><img src="assets/img/logo.png" alt="logo"></a>
                        </p>
                    </div>

                    <div class="col-12 col-lg-6">
                    </div>

                    <div class="col-12 col-lg-3">
                        <div class="social text-center text-lg-right">
                            <a class="social-facebook" href="https://www.facebook.com/thethemeio"><i class="fa fa-facebook"></i></a>
                            <a class="social-twitter" href="https://twitter.com/thethemeio"><i class="fa fa-twitter"></i></a>
                            <a class="social-instagram" href="https://www.instagram.com/thethemeio/"><i class="fa fa-instagram"></i></a>
                            <a class="social-dribbble" href="https://dribbble.com/thethemeio"><i class="fa fa-dribbble"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- END Footer -->



        <!-- Scripts -->
        <script src="/assets/js/core.min.js"></script>
        <script src="/assets/js/thesaas.min.js"></script>
        <script src="/assets/js/script.js"></script>

    </body>
</html>
