<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="" />

        <title>DadHive - Pre-Registration</title>

        <!-- Styles -->
        <link href="assets/css/core.min.css" rel="stylesheet">
        <link href="assets/css/thesaas.min.css" rel="stylesheet">
        <link href="assets/css/style.css"   rel="stylesheet">

        <!-- Favicons -->
        <link rel="apple-touch-icon" href="assets/img/apple-touch-icon.png">
        <link rel="icon" href="assets/img/favicon.png">
        <style>
            #loader {
                position: absolute;
                z-index:1;
                width: 100%;
                height: 100%;
                background-color: #00b763;
                display: none;
            }
            .spinner {
                margin: 50vh auto;
                width: 50px;
                height: 50px;
                background-color: #FFFFFF;
                
                -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
                animation: sk-rotateplane 1.2s infinite ease-in-out;
            }

            @-webkit-keyframes sk-rotateplane {
              0% { -webkit-transform: perspective(120px) }
              50% { -webkit-transform: perspective(120px) rotateY(180deg) }
              100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
            }

            @keyframes sk-rotateplane {
              0% { 
                transform: perspective(120px) rotateX(0deg) rotateY(0deg);
                -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
              } 50% { 
                transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
                -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
              } 100% { 
                transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
                -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
              }
            }
        </style>
    </head>

    <body class="mh-fullscreen bg-img center-vh p-20" style="background-image: url(assets/img/bg-father4.jpg); background-position: right;" >
             
        <!-- START LOADER -->
        <div id="loader">
            <div class="spinner"></div>
        </div>
        <!-- END LOADER -->
        
        <div class="card card-shadowed p-50 w-400 mb-0" style="max-width: 100%">
            <div style="text-align: center; margin: 25px;">
                <a href="/">
                    <img src="assets/img/header-dadhive-hive.png" height="75px" alt="logo">
                </a>   
            </div>
            <h5 class="text-uppercase text-center">Pre-Registration</h5>
            <small class="text-center">Join thousands of fathers, just like you, in holding each other accountable!</small>
            <br>
            
            <div class="alert alert-success" role="alert" style="display: none;" id="success-alert">
                <strong>Well done!</strong> You have successfully pre-registered for the DadHive.
                <br>
                <a href="/">Go back</a> or <a href="mailto:?subject=Join the #DadHive Movement&body= I found and decided to join this awesome movement for fathers by fathers.You should pre-register too at www.dadhive.com!">Accept the Challenge and Invite up to 5 fathers!</a>
            </div>
            
            <div class="alert alert-danger alert-dismissible" role="alert" style="display: none;" id="error-dup-alert">
                <button type="button" class="close" aria-label="Close" onclick="dismissAlert();">
                    <span>×</span>
                </button>
                <strong>Warning!</strong> Looks like that email, LinkedIn, Instagram, and/or Facebook is already in use. Please try again.
            </div>
            
            <div class="alert alert-danger alert-dismissible" role="alert" style="display: none;" id="error-alert">
                <button type="button" class="close" aria-label="Close" onclick="dismissAlert();">
                    <span>×</span>
                </button>
                <strong>Warning!</strong> Please ensure that every field was completed.
            </div>
            
            <div class="alert alert-danger alert-dismissible" role="alert" style="display: none;" id="error-email-alert">
                <button type="button" class="close" aria-label="Close" onclick="dismissAlert();">
                    <span>×</span>
                </button>
                <strong>Warning!</strong> Looks like you've entered an invalid email address. Please try again.
            </div>
            <br>
            
            <form role="form" method="post" name="pre-registration-form" id="pre-reg">
                <div class="form-group">
                    <label>Full Name</label>
                    <input class="form-control" type="text" placeholder="Enter your first and last name" name="name">
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input class="form-control" type="email" placeholder="Enter your email" name="email">
                </div>
                <div class="form-group">
                    <label>Marital Status</label>
                    <select class="form-control" name="mar_status">
                        <option value="single">Single</option>
                        <option value="married">Married</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Number of Children</label>
                    <select class="form-control" name="children">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4+</option>
                    </select>
                </div>
                <label>Social Media <i style="font-size: smaller;">Optional</i></label>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon2">www.linkedin.com/</span>
                    <input type="text" class="form-control" placeholder="username" aria-describedby="basic-addon2" name="linkedin_usr">
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon2">www.facebook.com/</span>
                    <input type="text" class="form-control" placeholder="username" aria-describedby="basic-addon2" name="facebook_usr">
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon2">www.instagram.com/</span>
                    <input type="text" class="form-control" placeholder="username" aria-describedby="basic-addon2" name="instagram_usr">
                </div>
                <br>
                <a class="btn btn-xl btn-primary btn-success" href="#" onclick="preRegisterUser();" >Pre-Register</a>
            </form>
        </div>
        
        <!-- START Modal -->
        <div class="modal fade" id="loginmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Invite More Fathers</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        
                    </div>
                </div>
            </div>
        </div>        
        <!-- END Modal -->
        
        <!-- Scripts -->
        <script src="assets/js/core.min.js"></script>
        <script src="assets/js/thesaas.min.js"></script>
        <script src="assets/js/script.js"></script>
        <script>
            function preRegisterUser() {
                document.getElementById("loader").style.display = "block";
                var preRegForm = document.forms["pre-registration-form"];
                var name = preRegForm["name"].value;
                var email = preRegForm["email"].value;
                var mar_status = preRegForm["mar_status"].value;
                var children = preRegForm["children"].value;
                var linkedin = preRegForm["linkedin_usr"].value;
                var facebook = preRegForm["facebook_usr"].value;
                var instagram = preRegForm["instagram_usr"].value;
                if (emailValidation(email) == true) {
                    console.log('Validation is True');
                    if (!name || !email || !mar_status || !children) {
                        document.getElementById("loader").style.display = "none";
                        document.getElementById("error-alert").style.display = "block";
                        document.getElementById("success-alert").style.display = "none";
                        document.getElementById("error-email-alert").style.display = "none";
                        document.getElementById("error-dup-alert").style.display = "none";
                        preRegForm.reset();
                    } else {
                        var xhttp = new XMLHttpRequest();
                        xhttp.open('POST','/auth/preregister', true);
                        xhttp.setRequestHeader("Content-type", "application/json");
                        xhttp.onreadystatechange = function(data) {
                            console.log(data['target']);
                            if(xhttp.readyState == XMLHttpRequest.DONE && xhttp.status == 200) {
                                document.getElementById("loader").style.display = "none";
                                document.getElementById("error-alert").style.display = "none";
                                document.getElementById("success-alert").style.display = "block";
                                document.getElementById("error-email-alert").style.display = "none";
                                document.getElementById("error-dup-alert").style.display = "none";
                                document.getElementById('pre-reg').reset()
                            } else {
                                document.getElementById("loader").style.display = "none";
                                document.getElementById("error-alert").style.display = "block";
                                document.getElementById("success-alert").style.display = "none";
                                document.getElementById("error-email-alert").style.display = "none";
                                document.getElementById("error-dup-alert").style.display = "block";
                            }
                        } 
                        xhttp.addEventListener('load', function(event) {
                            console.log('Yeah! Data sent and response loaded.');
                        });

                        // Define what happens in case of error
                        xhttp.addEventListener('error', function(event) {
                            console.log('Oups! Something goes wrong.');
                        });
                        
                        xhttp.send(JSON.stringify({
                            uname: name,
                            uemail: email,
                            umar_status: mar_status,
                            uchildren: children,
                            ulinkedin: linkedin,
                            ufacebook: facebook,
                            uinstagram: instagram
                        })); 
                    }
                } else {
                    document.getElementById("loader").style.display = "none";
                    console.log('Validation is False');
                    document.getElementById("error-alert").style.display = "none";
                    document.getElementById("success-alert").style.display = "none";
                    document.getElementById("error-email-alert").style.display = "block";
                    document.getElementById("error-dup-alert").style.display = "none";
                }
            }
            function emailValidation(elementValue) {  
                var emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
                return emailPattern.test(elementValue); 
            }  
            function dismissAlert(){
                document.getElementById("loader").style.display = "none";
                document.getElementById("error-alert").style.display = "none";
                document.getElementById("success-alert").style.display = "none";
                document.getElementById("error-email-alert").style.display = "none";
                document.getElementById("error-dup-alert").style.display = "none";
            }
            
        </script>
        
    </body>
    
</html>