<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="" />

        <title>DadHive - Pre-Registration</title>

        <!-- Styles -->
        <link href="assets/css/core.min.css" rel="stylesheet">
        <link href="assets/css/thesaas.min.css" rel="stylesheet">
        <link href="assets/css/style.css"   rel="stylesheet">

        <!-- Favicons -->
        <link rel="apple-touch-icon" href="assets/img/apple-touch-icon.png">
        <link rel="icon" href="assets/img/favicon.png">
        
        <style>
            #loader {
                position: absolute;
                z-index:1;
                width: 100%;
                height: 100%;
                background-color: #00b763;
                display: none;
            }
            .spinner {
                margin: 50vh auto;
                width: 50px;
                height: 50px;
                background-color: #FFFFFF;
                
                -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
                animation: sk-rotateplane 1.2s infinite ease-in-out;
            }

            @-webkit-keyframes sk-rotateplane {
              0% { -webkit-transform: perspective(120px) }
              50% { -webkit-transform: perspective(120px) rotateY(180deg) }
              100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
            }

            @keyframes sk-rotateplane {
              0% { 
                transform: perspective(120px) rotateX(0deg) rotateY(0deg);
                -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
              } 50% { 
                transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
                -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
              } 100% { 
                transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
                -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
              }
            }
        </style>
    </head>

    <body class="mh-fullscreen bg-img center-vh p-20" style="background-image: url(assets/img/bg-father4.jpg); background-position: right;" >
                
        <div id="loader">
            <div class="spinner"></div>
        </div>
        
        <div class="card card-shadowed p-50 w-400 mb-0" style="max-width: 100%">
            <div style="text-align: center; margin: 25px;">
                <a href="/">
                    <img src="assets/img/header-dadhive-hive.png" height="75px" alt="logo">
                </a>   
            </div>
            <h5 class="text-uppercase text-center">Create Account</h5>
            <small class="text-center">Join thousands of fathers, just like you, in holding each other accountable!</small>
            <br>
            
            <!-- BEGIN Error handling from form -->
            <div class="alert alert-success" role="alert" style="display: none;" id="success-alert">
                <strong>Well done!</strong> You have successfully registered for the DadHive. You can now download the DadHive app and login.
                <br>
                <a href="/">Go back.</a>
            </div>
            
            <div class="alert alert-danger alert-dismissible" role="alert" style="display: none;" id="error-dup-alert">
                <button type="button" class="close" aria-label="Close" onclick="dismissAlert();">
                    <span>×</span>
                </button>
                <strong>Warning!</strong> Looks like that email, LinkedIn, Instagram, and/or Facebook is already in use. Please try again.
            </div>
            
            <div class="alert alert-danger alert-dismissible" role="alert" style="display: none;" id="error-alert">
                <button type="button" class="close" aria-label="Close" onclick="dismissAlert();">
                    <span>×</span>
                </button>
                <strong>Warning!</strong> Please ensure that every field was completed.
            </div>
            
            <div class="alert alert-danger alert-dismissible" role="alert" style="display: none;" id="error-email-alert">
                <button type="button" class="close" aria-label="Close" onclick="dismissAlert();">
                    <span>×</span>
                </button>
                <strong>Warning!</strong> Looks like you've entered an invalid email address. Please try again.
            </div>

            <div class="alert alert-danger alert-dismissible" role="alert" style="display: none;" id="error-generic-alert">
                <button type="button" class="close" aria-label="Close" onclick="dismissAlert();">
                    <span>×</span>
                </button>
                <strong>Warning!</strong> <p id="error-text">Something went wrong. Please try again later.</p>
            </div>
            <!-- END Error handling from form-->

            <br>

            <form role="form" method="post" name="registration-form" id="registration-form">
                <div class="form-group">
                    <label>Full Name</label>
                    <input class="form-control" type="text" placeholder="Enter your first and last name" name="name">
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input class="form-control" type="email" placeholder="Enter your email" name="email">
                </div>
                <div class="form-group">
                    <label>Create a Password</label>
                    <input class="form-control" type="password" placeholder="Enter your password" name="password">
                </div>
                <div class="form-group">
                    <label>Marital Status</label>
                    <select class="form-control" name="mar_status">
                        <option value="single">Single</option>
                        <option value="married">Married</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Number of Children</label>
                    <select class="form-control" name="children">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4+</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Age of Children</label>
                    <select class="form-control" name="ageRanges">
                        <option value="0">2 to 4 years old</option>
                        <option value="1">4 to 7 years old</option>
                        <option value="2">7 to 10 years old</option>
                        <option value="3">10 to 13 years old</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Kids Names</label>
                    <input class="form-control" type="text" placeholder="Enter your kids first name(s)" name="kidsNames">
                </div>
                <label>Social Media <i style="font-size: smaller;">Optional</i></label>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon2">www.linkedin.com/</span>
                    <input type="text" class="form-control" placeholder="username" aria-describedby="basic-addon2" name="linkedin_usr">
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon2">www.facebook.com/</span>
                    <input type="text" class="form-control" placeholder="username" aria-describedby="basic-addon2" name="facebook_usr">
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon2">www.instagram.com/</span>
                    <input type="text" class="form-control" placeholder="username" aria-describedby="basic-addon2" name="instagram_usr">
                </div>
                <br>
                <a class="btn btn-xl btn-primary btn-success" href="#" onclick="registerUser();" >Sign Up</a>
            </form>
        </div>
        
        <!-- Scripts -->
        <script src="assets/js/core.min.js"></script>
        <script src="assets/js/thesaas.min.js"></script>
        <script src="assets/js/script.js"></script>
        <script>
            function registerUser() {
                document.getElementById("loader").style.display = "block";
                var form = document.forms["registration-form"];

                var email = form["email"].value;
                var name = form["name"].value;
                var password = form["password"].value;
                var kidsCount = form["children"].value;
                var maritalStatus = form["mar_status"].value;
                var linkedin = form["linkedin_usr"].value;
                var facebook = form["facebook_usr"].value;
                var instagram = form["instagram_usr"].value;
                var ageRanges = form["ageRanges"].value;
                var kidsNames = form["kidsNames"].value;

                if (emailValidation(email) == true) {
                    console.log('Email is valid');

                    if (!name || !email || !password ||  !maritalStatus || !kidsCount || !ageRanges || !kidsNames ) {

                        document.getElementById("loader").style.display = "none";
                        document.getElementById("error-alert").style.display = "block";
                        document.getElementById("success-alert").style.display = "none";
                        document.getElementById("error-email-alert").style.display = "none";
                        document.getElementById("error-dup-alert").style.display = "none";
                        document.getElementById("error-generic-alert").style.display = "none";
                        form.reset();

                    } else {

                        var xhttp = new XMLHttpRequest();
                        xhttp.open('POST','/api/v1/createUser', true);
                        xhttp.setRequestHeader("Content-type", "application/json");
                        xhttp.onreadystatechange = function(data) {

                            //  TODO:- remove before merging into master
                            console.log(data['target']);
                            console.log('-------');

                            if(xhttp.readyState == XMLHttpRequest.DONE && xhttp.status == 200) {

                                console.log(JSON.parse(xhttp.response));

                                var response = JSON.parse(xhttp.response);
                                if (response.error == null) {

                                    document.getElementById("loader").style.display = "none";
                                    document.getElementById("error-alert").style.display = "none";
                                    document.getElementById("success-alert").style.display = "block";
                                    document.getElementById("error-email-alert").style.display = "none";
                                    document.getElementById("error-dup-alert").style.display = "none";
                                    document.getElementById("error-generic-alert").style.display = "none";
                                    form.reset();

                                } else {

                                    document.getElementById("loader").style.display = "none";
                                    document.getElementById("error-alert").style.display = "none";
                                    document.getElementById("success-alert").style.display = "none";
                                    document.getElementById("error-email-alert").style.display = "none";
                                    document.getElementById("error-dup-alert").style.display = "none";
                                    document.getElementById("error-generic-alert").style.display = "block";
                                    document.getElementById("error-text").innerHTML = response.error.message;

                                }

                            } else {

                                document.getElementById("loader").style.display = "none";
                                document.getElementById("error-alert").style.display = "none";
                                document.getElementById("success-alert").style.display = "none";
                                document.getElementById("error-email-alert").style.display = "none";
                                document.getElementById("error-dup-alert").style.display = "none";
                                document.getElementById("error-generic-alert").style.display = "block";

                            }
                        } 
                        xhttp.addEventListener('load', function(event) {
                            console.log('Yeah! Data sent and response loaded.');
                        });

                        // Define what happens in case of error
                        xhttp.addEventListener('error', function(event) {

                            console.log('Oups! Something went wrong.');
                            document.getElementById("loader").style.display = "none";
                            document.getElementById("error-alert").style.display = "none";
                            document.getElementById("success-alert").style.display = "none";
                            document.getElementById("error-email-alert").style.display = "none";
                            document.getElementById("error-dup-alert").style.display = "none";
                            document.getElementById("error-generic-alert").style.display = "block";
                            form.reset();

                        });
                        
                        xhttp.send(JSON.stringify({
                            name: name,
                            email: email,
                            maritalStatus: maritalStatus,
                            kidsCount: kidsCount,
                            password: password,
                            linkedin: linkedin,
                            facebook: facebook,
                            instagram: instagram,
                            ageRanges: ageRanges,
                            kidsNames: kidsNames
                        })); 

                    }
                } else {

                    console.log('Email is not valid');
                    document.getElementById("loader").style.display = "none";
                    document.getElementById("error-alert").style.display = "none";
                    document.getElementById("success-alert").style.display = "none";
                    document.getElementById("error-email-alert").style.display = "block";
                    document.getElementById("error-dup-alert").style.display = "none";

                }
            }

            function emailValidation(elementValue) {  
                var emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
                return emailPattern.test(elementValue); 
            }  

            function dismissAlert(){

                document.getElementById("loader").style.display = "none";
                document.getElementById("error-alert").style.display = "none";
                document.getElementById("success-alert").style.display = "none";
                document.getElementById("error-email-alert").style.display = "none";
                document.getElementById("error-dup-alert").style.display = "none";
                document.getElementById("error-generic-alert").style.display = "none";

            }
            
        </script>
        
    </body>
    
</html>